@use './custom/badge.scss' as *;
@use './custom/button.scss' as *;
@use './custom/form.scss' as *;
@use './custom/input.scss' as *;
@use './custom/messageBox.scss' as *;
@use './custom/notification.scss' as *;
@use './custom/datePick.scss' as *;
@use './custom/dialog.scss' as *;
:root {
  //---------------------------------------------
  // 變量
  //---------------------------------------------
  --hd-primary: #c9dbb2;
  --hd-primary-hover: #a7c983;
  --hd-primary-active: #6c9046;
  --hd-secondary: #ffeeb3;
  --hd-success: #aed8cc;
  --hd-danger: #dc3545;
  --hd-warning: #ffc107;
  --hd-info: #7bbdc7;
  --hd-black: #404042;
  --hd-black-50: #49536f7f;
  --hd-white: #ffffff;
  --hd-white-50: #ffffffa2;
  --hd-disable: #93b56eab;
  --hd-bg: #fcfcfc;
  --hd-hover: #bfccb5;
  --hd-click: #aac8a7;

  // shadow
  --hd-shadow-small: 0px 2px 4px 0px #00000013;
  --hd-shadow-regular: 0px 8px 16px 0px #00000026;
  --hd-shadow-larger: 0px 16px 48px 0px #0000002d;

  // 變更 element plus 主色
  --el-color-primary: #c9dbb2 !important;
  --el-color-success: #aed8cc !important;

  --blue-primary-50: #f8fbff;
  --blue-primary-100: #e3f1ff;
  --blue-primary-400: #464f5e;
  --blue-primary-500: #98ae87;
  --table-row-bg: #e9f6fc;
  // --table-row-bg: rgba(200, 220, 241, 0.2);
  --table-expand-row-bg: #f8fbff;
  --table-expand-hover-row-bg: #c8c8c8;
  // --search-input-bg: rgba(200, 220, 241, 0.2);
  --search-input-bg: rgba(232, 240, 254, 0.6);
  --form-input-bg: #f5f7fa;
  --form-view-bg: #ffffff;
  --el-border-radius-base: 8px;
  --el-border-color-extra-light: #b3dff4;
  --el-color-danger: #f36666;
  --el-color-success: #48b981;
  --el-color-warning: #ffcf73;
  --el-color-info: #b7b7b7;
  --primary-text-color: #252525;
  --form-editable-bg: #f5f7fa;
  --el-disabled-bg-color: #hdhdhd;
}

// center
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
