// components
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #0000004d;
}
::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
a {
  -webkit-tap-highlight-color: transparent;
}
body {
  background: url('../img/bg.png');
}
// animations
@import 'animations/transitions';
