// form
.hd-form {
  .el-form-item {
    @apply relative w-full items-center justify-center pt-6;
  }
  // .el-form-item__label {
  //   @apply absolute left-2 top-8  duration-200;
  // }
  .el-form-item__label:has(+ .el-form-item__content .el-input__wrapper.is-focus) {
    @apply text-hd-primary top-1;
  }
  .el-form-item.is-error .el-input__wrapper {
    box-shadow: none !important;
  }
  // .el-input__wrapper {
  //   background-color: transparent !important;
  //   box-shadow: none !important;
  //   border-bottom: 1px solid #b9b9b9 !important;
  //   border-radius: 0px !important;
  //   &:before,
  //   &:after {
  //     content: '';
  //     @apply bg-hd-primary absolute bottom-[0px] h-[2px] w-0;
  //     transition: 0.2s ease all;
  //     -moz-transition: 0.2s ease all;
  //     -webkit-transition: 0.2s ease all;
  //   }
  //   &:before {
  //     left: 50%;
  //   }
  //   &:after {
  //     right: 50%;
  //   }
  //   &.is-focus {
  //     &:before,
  //     &:after {
  //       @apply w-1/2;
  //     }
  //   }
  // }
  .el-form-item__label:has(+ .el-form-item__content .el-input__wrapper .el-input__inner:valid),
  .el-form-item__label:has(
      + .el-form-item__content .el-input__wrapper .el-input__inner:valid:read-only
    ),
  .el-form-item__label:has(
      + .el-form-item__content .only .el-input__wrapper .el-input__inner:not(:placeholder-shown)
    ),
  .el-form-item__label:has(
      + .el-form-item__content
        .el-select
        .el-input__wrapper
        .el-input__inner:not(:placeholder-shown)
    ) {
    @apply text-hd-primary  top-1;
  }

  .el-input__inner::placeholder {
    @apply opacity-0;
  }

  // 自動選擇 去除背影
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset; //我这里的body背景色是#f8f8f8f
  }
}
.w-full-date {
  width: 100% !important;

  .el-input__wrapper {
    width: 100% !important;
  }

  .el-date-editor.el-input {
    width: 100% !important;
  }
}
.el-form--default {
  .el-form-item--default {
    @apply mb-5;
    .el-form-item__label {
      @apply text-small;
      margin-bottom: 2px !important;
    }
  }
}
